body{
    font-family: Arial, sans-serif;
    background-color:darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
header{
    position:absolute;
    top: 15px;
    background-color: blue;
    font-size: 30px;
    font-family: 'Times New Roman', serif;

}

.Paragrafos{
    text-indent: 50px;
    align-items: center;
    justify-items: center;
    display:flexbox;
    border-radius: 4%;
    background-color: rgba(224, 224, 224, 0.685);
}
p{
    text-justify: center;
    padding: 15px;
    padding-top: 30px;
}

a{
    background-color: gray;
    color: darkblue;
    text-decoration: none;
    position:absolute;
    bottom: 25px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10%;
    position: flexbox;
}