body {
    font-family: Arial, sans-serif;
    background-color: rgb(146, 96, 4);
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 120vb;
}

header {
    background-color: blue;
    font-size: 25px;
    text-align: center;
    justify-self:center;
    font-family: 'Times New Roman', serif;
    color: white;
}

.Paragrafos {
    text-indent: 55px;
    align-items: center;
    justify-items: center;
    display: flexbox;
    border-radius: 5%;
    height: 105vb;
    background-color: rgba(224, 224, 224, 0.685);
}

p {
    text-justify: center;
    padding: 15px;
    padding-top: 30px;
}

a {
    background-color: gray;
    color: darkblue;
    text-decoration: none;
    position:flex;
    bottom: 25px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10%;
    position: flexbox;
}