body {
    font-family: Arial, sans-serif;
    background-color: rgb(1, 180, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 15px;
    background-color: blue;
    font-size: 30px;
    font-family: 'Times New Roman', serif;
}

.Paragrafos {
    text-indent: 50px;
    margin: 30px;
    align-items: center;
    justify-items: center;
    display: flexbox;
    border-radius: 15px;
    background-color: rgba(224, 224, 224, 0.685);
    height: 65vb;
    margin-top: 55px;
}

p {
    text-justify: center;
    padding: 15px;
    padding-top: 30px;
}
a {
    background-color: gray;
    color: darkblue;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 10%;
    display: flexbox;
    position: flexbox;

}
